.App {
  text-align: center;
}


.home .welcome{
  margin-top: 150px;
  font-size: 70px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/public/stock.jpg");
}

.log{
    font-size: 0.5em;
    margin: 10px;
    font-family: 'Questrial', sans-serif;
    padding: 20px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: rgb(139, 162, 221);
    transition-duration: 0.4s;
}

.log:hover{
  background-color: rgb(118, 138, 189);
}