nav{
    position: fixed;
    top:0;
    background:#100840;
    color: #fff;
    width:100%;
  }
  .logo{
    float: left;
    font-family: 'Press Start 2P', cursive;
    padding: 20px 40px;
    margin-left: 30px;
  }
  
  nav ul li{
    padding-right:  20px;
    float: right;
    display: inline;
    list-style: none;
  }
  nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Questrial', sans-serif;
    padding: 10px 25px;
  }
  nav ul li a.signin{
    background: #eae5e5;
    color: #000;
    border-radius: 6px;
    padding: 10px;
  }
  
